body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.topnav {
  font-size: 16px;
  border-bottom: 1px outset rgba(192, 192, 192, 0.5);
  background: white;
  font-family: "Cinzel", serif;
}

.topnav ul.navbar-nav li a {
  color: black;
}

.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus {
  background: rgba(255, 255, 255, 0.5);
  color: #C147E9;
}

.topnav .navbar-brand {
  background: rgba(28, 28, 28, 0.0);
  color: #000;
}

.topnav .navbar-brand:hover,
.topnav .navbar-brand:focus {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}

.list {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  color: white;
}

li span {
  transition: .3s;
}

li:hover span:nth-child(1) {
  margin-right: 5px;
}

li:hover span:nth-child(1):after {
  content: "";
}

li:hover span:nth-child(2) {
  margin-left: 10px;
}

li:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 70px #fff;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

/*top background*/
.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-image: url(../img/background1.jpg);
  no-repeat center center fixed;
  background-size: cover;
  height: 855px;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 855px;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

/*Big header*/
.intro-message>h1 {
  margin-top: -50px;
  text-shadow: 2px 1px 2px #000;
  font-size: 9rem;
  color: white;
  font-family: "Cinzel", serif;
  transform: translatey(-850%);
  animation: intro-message-animation 2.9s ease-in-out forwards;
}

@keyframes intro-message-animation {
  100% {
    transform: translate(0);
  }
}

h1 span {
  transition: .8s;
}

h1:hover span:nth-child(1) {
  margin-right: 5px;
}

h1:hover span:nth-child(1):after {
  content: "";
}

h1:hover span:nth-child(2) {
  margin-left: 10px;
}

h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/*small header*/
.intro-message>h3 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  color: white;
  font-family: "Cinzel", serif;
  transform: translatey(-650%);
  animation: intro-message-animation 2.5s ease-in-out forwards;
}

h3 span {
  transition: .5s;
}

h3:hover span:nth-child(1) {
  margin-right: 5px
}

h3:hover span:nth-child(1):after {
  content: "";
}

h3:hover span:nth-child(2) {
  margin-left: 8px
}

h3:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message>h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

/*line*/
hr.intro-divider {
  border: 1px outset rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  width: 100%;
}

/* social buttons */
.btn {
  display: inline-block;
  color: #FF6E31;
  background: #c37d7d;
  letter-spacing: 2px;
  transition: 0.2s;
  font-family: "Cinzel", serif;
}

.btn:hover {
  border: 2px outset rgba(0, 0, 0, 0.9);
  transform: scale(1.1);
  transition: 0.2s;
  text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
  letter-spacing: 2px;
}

/*section 2*/
.content-section-a {
  padding: 50px 0;
  background-image: url(../img/background.jpg);
  no-repeat center center fixed;
  background-size: cover;
  height: 855px;
}

.bg-overlay2 {
  margin-top: -50px;
  background: rgba(0, 0, 0, 0.1);
  height: 855px;
}

.container .link-footer {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 32px;
}

h2.section-heading {
  margin-top: 100px;
  font-size: 3em;
  color: white;
  font-family: "Cinzel", serif;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px outset rgba(199, 63, 219, 0.8);
  border-radius: 15px;
  text-align: center;
  transform: translatey(750%);
  animation: section-heading-animation 2.8s ease-in-out forwards;
}

@keyframes section-heading-animation {
  100% {
    transform: translate(0);
  }
}

h2 span {
  transition: .4s;
}

h2:hover span:nth-child(1) {
  margin-right: 5px;
}

h2:hover span:nth-child(1):after {
  content: "";
}

h2:hover span:nth-child(2) {
  margin-left: 10px;
}

h2:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
}

/*text*/
.content-section-a p {
  font-size: 19px;
  font-weight: bold;
  color: white;
  font-family: "Cinzel", serif;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px outset rgba(199, 63, 219, 0.8);
  border-radius: 15px 50px;
  text-align: center;
}

.content-section-a p a {
  color: silver;
  font-weight: bold;
  font-family: "Cinzel", serif;
}

/*profile picture*/
.img-circle {
  margin-top: -510px;
  margin-left: 400px;
  border: 1px outset rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 5px rgba(238, 130, 238, 22);
  width: 45%;
  padding: 20px;
}

.img-circle:hover {
  color: #ffa502;
  box-shadow: 3px 3px 33px rgba(238, 130, 238, 22);
  text-shadow: 0 0 15px #d35400;
}

/* Portfolio section*/
section {
  color: black;
  background-image: url(../img/background2.jpg);
  no-repeat center center fixed;
  background-size: cover;
}

.below-section {
  color: white;
}

#below-section {
  color: white;
  font-family: "Cinzel", serif;
}

#small-text {
  color: white;
  font-family: "Cinzel", serif;
}

.portfolio-item {
  padding: 10px;
  color: white;
  height: 308px;
}

#portfolio .portfolio-item {
  transition: all .2s ease-in-out;
}

#portfolio .portfolio-item:hover {
  transition: 0.5s;
  transform: scale(1.12);
  z-index: 10;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s,
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(140, 63, 219, 1) text-align: center;
  padding: 25px;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  color: white;
  text-transform: none;
  margin-bottom: 0;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 13px;
  margin: 0;
}

#portfolio * {
  z-index: 2;
}

@media (min-width:767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #FF78F0;
}

.banner {
  padding: 100px 0;
  background-image: url(../img/background5.jpg);
  no-repeat center center fixed;
  background-size: cover;
  height: 755px;
}

/*UI Design */
.carousel-background {
  padding: 100px 0;
  background-image: url(../img/background4.jpg);
  no-repeat center center fixed;
  background-size: cover;
  height: 755px;
}

.UIDesign {
  text-align: center;
  margin-top: -50px;
  text-shadow: 2px 1px 2px #000;
  font-size: 5em;
  color: white;
  font-family: "Cinzel", serif;
  padding-top: 50px;
  padding-bottom: 20px;
}

.carousel-wrapper {
  height: 400px;
  position: relative;
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-wrapper {
    width: 50%;
  }
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid #FB2576;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

@media (max-width: 900px) {
  .arrow {
    padding: 3px;
  }
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: #FB2576;
}

@media (max-width: 480px) and (min-device-width: 320px) {
  .arrow, .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
    width: 50%;
  }
}
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background-image: url(../img/food1.png);
  background-size: cover;
}

.item-2 {
  background-image: url(../img/ui.png);
  background-size: cover;
}

.item-3 {
  background-image: url(../img/logo1.png);
  background-size: cover;
}

*:target~.item-1 {
  opacity: 0;
}

#item-1:target~.item-1 {
  opacity: 1;
}

#item-2:target~.item-2, #item-3:target~.item-3 {
  z-index: 3;
  opacity: 1;
}
}

//*Email Form */
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.feedback-input {
  color: white;
  font-family: 'Cinzel', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #F9F9F9;
  border: 2px solid #CF4DCE;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #CF4DCE;
}

textarea {
  color: white;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: '"Cinzel', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #A31ACB;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #CF4DCE;
}

/*Map CSS */
.map {
  overflow: hidden;
  padding-bottom: 60%;
  position: relative;
  height: 0;
  overflow: hidden;
}

.map iframe {
  left: 0;
  top: 0;
  height: 100% !important;
  width: 100% !important;
  position: absolute;
}
}

h2.connect {
  margin: 0;
  color: white;
  font-family: "Cinzel", serif;
}

/*Footer */
.footer-menu-divider {
  color: white;
}

footer {
  padding: 50px 0;
  background: #F9F9F9;
  color: #FF78F0;
}

p.copyright {
  margin: 15px 0 0;
  font-family: "Cinzel", serif;
  color: #FF78F0;
}
